@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

.hero {
  font-family: 'Roboto Slab',  'Noto Sans TC', serif;
}

.content {
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 1.25rem;
}

.columns {
  margin: 3rem;
}

.navbar {
  font-size: 1.15rem;
}

.navbar-dropdown.is-boxed {
  font-size: 1rem;
}

.hero {
  box-shadow: 0px 2px 10px -5px rgb(255, 100, 100);
}

p, p strong {
  margin: 1.2rem 0;
  text-indent: 2.5rem;
}

p.extended-margin {
  margin: 5.5rem 0;
}

p.has-text-centered {
  margin: 1rem 0 2.5rem 0;
}

hr {
  height: 1px;
  background-color: rgb(120, 120, 120);
  margin: 5rem -1rem;
}
